{% extends "SkygenBundle::layout_site.html.twig" %}

{% block contenu %}
    <div class="container">

        <div class="col-sm-12">
            <div class="bs-component live-less-editor-hovercontainer"
                 data-relatedvars="jumbotron-padding,jumbotron-color,jumbotron-bg,jumbotron-heading-color,jumbotron-font-size">
                <div class="jumbotron">
                    <div class="row">
                        <div style="margin-left: 25%;" class="col-sm-12">
                            <img class="responsive" src="{{ asset('logo.png') }}" alt="">
                        </div>
                    </div>
                    <p>
                        SkyGen est une communauté qui développe des logiciels pour IRC ainsi que pour les wikis
                        MediaWiki. Vous avez des connaissances en programmation, des bases ou même aucune connaissance
                        en programmation mais vous voulez participer à SkyGen ? Créez un compte SkyGen et venez sur le
                        canal IRC #SkyGen. Votre aide est la bienvenue !
                    </p>
                </div>
            </div>
        </div>
        <h1> Nos solutions</h1>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <div class="bs-component live-less-editor-hovercontainer" data-relatedvars="well-bg,well-border">
                    <div class="well">
                        <h1><span class="label label-success">HelloBot</span></h1>Un bot IRC pour les débutants d'IRC !

                        <button type="button" class="btn btn-info">Télécharger</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="bs-component live-less-editor-hovercontainer" data-relatedvars="well-bg,well-border">
                    <div class="col-sm-12">
                        <div class="well">
                            <h1><span class="label label-success">LifeBot</span></h1> Créez votre bot IRC facilement
                            pour les utilisateurs réguliers d'IRC !
                            <br>
                            <button type="button" class="btn btn-info">Télécharger</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="bs-component live-less-editor-hovercontainer" data-relatedvars="well-bg,well-border">
                    <div class="col-sm-12">
                        <div class="well">
                            <h1><span class="label label-success">StoryBot</span></h1> Un bot IRC pour les développeurs
                            !
                            <br>
                            <button type="button" class="btn btn-info">Télécharger</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="bs-component live-less-editor-hovercontainer" data-relatedvars="well-bg,well-border">
                    <div class="col-sm-12">
                        <div class="well">
                            <h1 class="text-success"><span class="label label-success">HomeBot</span></h1>

                            <br>
                            <button type="button" class="btn btn-info">Télécharger</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}