<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SkyGen</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="smartaddon-verification" content="936e8d43184bc47ef34e25e426c508fe"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/bs.css') }}">

    <script src="{{ asset('bootflat/js/site.min.js') }}"></script>

    <style>

        ::-webkit-scrollbar {
            width: 4px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: rgb(156, 156, 156);
            border-radius: 0;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: rgb(122, 122, 122);
        }

        ::-webkit-scrollbar-track {
            background-color: rgb(51, 51, 51);
        }

        body {
            overflow-x: hidden;
        }

        img.responsive {
            display: block;
            max-width: 100%;
            height: auto;
        }

        #footer {
            background-color: #669ed7;
            text-align: center;
            bottom: 0;
        }


    </style>
</head>
<body>

<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SkyGen
        </a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Active</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bots IRC <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">HelloBot</a></li>
                    <li><a href="#">LifeBot</a></li>
                    <li><a href="#">StoryBot</a></li>
                    <li><a href="#">HomeBot</a></li>
                    <li><a href="#">Revolucio</a></li>


                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a data-toggle="modal" data-target="#modal_inscription" id="inscription">Inscription</a></li>
            <li><a data-toggle="modal" data-target="#modal_connexion" id="connexion">Connexion</a></li>
        </ul>
    </div>
</div>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            <div class="container">
                <div class="alert-icon">
                    <i class="now-ui-icons objects_support-17"></i>
                </div>
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                </button>
            </div>
        </div>
    {% endfor %}
{% endfor %}



<!-- Modal -->
<div class="modal fade" id="modal_inscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">


                    <div class="row">
                        <label for="email" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" id="email" placeholder="E-mail">
                        </div>
                    </div>

                    <div class="row">
                        <label for="utilisateur" class="col-lg-2 control-label">Utilisateur</label>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" id="utilisateur" placeholder="Utilisateur">
                        </div>
                    </div>

                    <div class="row">
                        <label for="mdp" class="col-lg-2 control-label">Mot de passe</label>
                        <div class="col-lg-12">
                            <input type="password" class="form-control" id="mdp" placeholder=".....">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <label for="mdp2" class="col-lg-2 control-label">Confirmer le mot de passe</label>
                        <div class="col-lg-12">
                            <input type="password" class="form-control" id="mdp2" placeholder=".....">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success">S'inscrire</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal_connexion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <div class="row">
                        <label for="utilisateur_connexion" class="col-lg-2 control-label">Utilisateur</label>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" id="utilisateur_connexion"
                                   placeholder="Utilisateur">
                        </div>
                    </div>

                    <div class="row">
                        <label for="mdp_connexion" class="col-lg-2 control-label">Mot de passe</label>
                        <div class="col-lg-12">
                            <input type="password" class="form-control" id="mdp_connexion" placeholder=".....">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                <button id="connexion_action" type="button" class="btn btn-success">Connexion</button>
            </div>
        </div>
    </div>
</div>


{% block contenu %}
{% endblock %}


<div id="footer">
    <p>
        <a href="http://skygen.alwaysdata.net/fr/Legal.php">Mentions légales et conditions d'utilisation</a> - <a
                href="http://skygen.alwaysdata.net/fr/Thanks.php">Remerciments</a> - <a
                href="http://skygen.alwaysdata.net/fr/Comments.php">Commentaires</a><br>
        Le site et les logiciels de SkyGen sont sous licence <a
                href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/">CC BY-NC-SA 3.0</a> (sauf mention
        contraire), en cas de redistribution du site ou des logiciels, vous devez indiquer qu'il s'agit d'une variante
        d'un logiciel de SkyGen et il est interdit de revendre un logiciel de SkyGen.
    </p>
</div>
</body>

<script>
    $('#connexion_action').click(function () {

        var user = $('#utilisateur_connexion').val();
        var mdp = $('#mdp_connexion').val();

        if (user != '' && mdp != '') {

            $.ajax({
                type: 'POST',
                url: '',
                data: {
                    user: user,
                    mdp: mdp
                },
                success: function (retour, textStatus, jqXHR) {
                    if (retour.message == "erreur") {

                        swal("Error!", "You need compelete all inputs", "error")
                    } else {
                        swal("Succes!", "You message seeded", "success")
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + " " + errorThrown);
                }
            });


        }
    })
</script>
</html>
